body {
  background-color: #353232;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75, 0.75);
  }
  16% {
    transform: scale(1, 1);
  }
  33% {
    transform: scale(0.75, 0.75);
  }
  49% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.75, 0.75);
  }
}
.heartbeat {
  position: absolute;
  width: 100px;
  height: 100px;
  animation: heartbeat .9s infinite;
  left: 50%;
  top: 50%;
  margin: -90px 0px 0px -90px;
  text-align: center;
  line-height: 100px;
  font-size: 100px;
  cursor: default;
}
